{% extends 'users/base.html' %}
{% load static %}

{% block head_content %}
    <title>Fitgram sign in</title>
{% endblock %}

{% block container %}
    
    {% if form.errors %}
        <p class="alert alert-danger">
            Your username or password didn't match. Please try again.
        </p>
    {% endif %}

    <form method="POST" action="{% url 'users:login' %}">
        <!-- Incluye un input con un token único por sesión  -->
        {% csrf_token %} 
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name='username'>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <button class="btn btn-primary btn-block btn-m5" type="submit">
            Sign in
        </button>
        <div class="form-group" style="color: #8e8e8e;">
            <div class="div" style="display: inline;">-------</div>
            <div class="div" style="align-items: center; display: inline;">O</div>
            <div class="div" style="display: inline;">--------</div>
        </div>
        <div class="form-group" style="color: #385185;">
            <div class="div" style="text-align: center;">Iniciar sesión con Facebook</div>
        </div>
        <div class="form-group" style="color: #385185;">
            <div class="div" style="text-align: center;">¿Olvidaste tu contraseña?</div>
        </div>
    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here</a> </p>

{% endblock %}